.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loading {
  text-align: center;
  margin-top: 20px;
}

.productList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 990px) {
  .productList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .productList {
    grid-template-columns: repeat(4, 1fr);
  }
}
